<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.shazron.cordova.ziputil"
    version="1.0.0">

    <name>ZipUtil</name>
	
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
	
    <asset src="www/ZipUtil.js" target="ZipUtil.js" />

    <!-- ios -->
    <platform name="ios">
        <!-- Only for Cordova 2.2.0 -->
        <plugins-plist key="ZipUtil" string="ZipUtil" />
                    
        <!-- Only for Cordova 2.3.0, 2.4.0 -->
        <!--
        <config-file target="config.xml" parent="/cordova/plugins">
                <plugin name="ZipUtil" value="ZipUtil"/>
        </config-file>
        -->
        
        <!-- for Cordova >= 2.5.0 -->
        <config-file target="config.xml" parent="/widget/plugins">
                <plugin name="ZipUtil" value="ZipUtil"/>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly --> 
        <header-file src="ZipArchive/minizip/crypt.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="ZipArchive/minizip/ioapi.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="ZipArchive/minizip/mztools.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="ZipArchive/minizip/unzip.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="ZipArchive/minizip/zip.h" target-dir="ZipUtil/ZipArchive/minizip"/>

        <header-file src="ZipArchive/ZipArchive.h" target-dir="ZipUtil/ZipArchive"/>
        <header-file src="ZipOperation.h" target-dir="ZipUtil"/>
        <header-file src="ZipUtil.h" target-dir="ZipUtil"/>
        
        <source-file src="ZipArchive/minizip/ioapi.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="ZipArchive/minizip/mztools.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="ZipArchive/minizip/unzip.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="ZipArchive/minizip/zip.c" target-dir="ZipUtil/ZipArchive/minizip"/>

        <source-file src="ZipArchive/ZipArchive.mm" target-dir="ZipUtil/ZipArchive"/>
        <source-file src="ZipOperation.m" target-dir="ZipUtil"/>
        <source-file src="ZipUtil.m" target-dir="ZipUtil"/>
        
        <framework src="libz.dylib" />
    </platform>
</plugin>