<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.shazron.cordova.ziputil"
    version="1.0.0">

    <name>ZipUtil</name>
	
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
	
    <asset src="www/ZipUtil.js" target="plugins/ZipUtil.js" />

    <!-- ios -->
    <platform name="ios">
        <!-- Only for Cordova 2.2.0 -->
        <plugins-plist key="ZipUtil" string="ZipUtil" />
                    
        <config-file target="config.xml" parent="/*/plugins">
            <plugin name="ZipUtil" value="ZipUtil"/>
        </config-file>
        
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <feature name="ZipUtil">
            <param name="ios-package" value="ZipUtil"/>
          </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly --> 
        <header-file src="src/ios/ZipArchive/minizip/crypt.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="src/ios/ZipArchive/minizip/ioapi.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="src/ios/ZipArchive/minizip/mztools.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="src/ios/ZipArchive/minizip/unzip.h" target-dir="ZipUtil/ZipArchive/minizip"/>
        <header-file src="src/ios/ZipArchive/minizip/zip.h" target-dir="ZipUtil/ZipArchive/minizip"/>

        <header-file src="src/ios/ZipArchive/ZipArchive.h" target-dir="ZipUtil/ZipArchive"/>
        <header-file src="src/ios/ZipOperation.h" target-dir="ZipUtil"/>
        <header-file src="src/ios/ZipUtil.h" target-dir="ZipUtil"/>
        
        <source-file src="src/ios/ZipArchive/minizip/ioapi.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="src/ios/ZipArchive/minizip/mztools.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="src/ios/ZipArchive/minizip/unzip.c" target-dir="ZipUtil/ZipArchive/minizip"/>
        <source-file src="src/ios/ZipArchive/minizip/zip.c" target-dir="ZipUtil/ZipArchive/minizip"/>

        <source-file src="src/ios/ZipArchive/ZipArchive.mm" target-dir="ZipUtil/ZipArchive"/>
        <source-file src="src/ios/ZipOperation.m" target-dir="ZipUtil"/>
        <source-file src="src/ios/ZipUtil.m" target-dir="ZipUtil"/>
        
        <framework src="libz.dylib" />
        
        <info>
Add this script tag to your index.html:
    &lt;script src="plugins/ZipUtil.js"&gt;&lt;/script&gt;
	    </info>
        
    </platform>
</plugin>